// Colors
$font-color: #202329;
$gray: #40434A;
$blue: #009A9C;
$bg-white: #EFEEEB;



h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}

body {
    background: #EFEEEB;
    font-size: 15px;
    font-family: 'Lora', serif;
    width: 100%;
    min-height: 100vh;
}
