{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="row">
    <section class="col-lg-6 col-md-12">
        <div class="text-center mt-5">
            <h2>
                To-Do List
                <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-plus"></i>
                </a>
            </h2>
            <hr>
        </div>
            <div class="collapse m-2 border rounded px-3 py-2 border-secondary" id="collapseExample">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Submit" class="btn btn-outline-primary">
                </form>
            </div>
        {% for note in todo %}
        <div class="card m-2 ">
            <div class="card-body d-flex justify-content-between align-items-baseline">
                <p>
                    {{note.title}} due on <span class="badge bg-{{note.get_label_display}}">{{ note.due_date}}</span>
                </p>
                <span class="action-icons">
                    <a href="{{ note.get_finished_item_url }}"  class="btn btn-outline-success">
                        <i class="bi bi-check"></i></i>
                    </a>
                    <a href="{{ note.get_delete_item_url }}" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </span>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="col-lg-6 col-md-12">
        <div class="text-center mt-5">
            <h2>Finished List</h2>
            <hr>
        </div>
        {% for note in finished %}
        <div class="card m-2">
            <div class="card-body d-flex justify-content-between align-items-baseline">
                <p>
                    {{note.title}} due on <span class="badge bg-{{note.get_label_display}}">{{ note.due_date}}</span>
                </p>
                <span class="action-icons">
                    <a href="{{ note.get_recover_item_url }}" class="btn btn-outline-primary">
                        <i class="bi bi-x"></i>
                    </a>
                    <a href="{{ note.get_delete_item_url }}" class="btn btn-outline-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </span>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock content %}
